// Headings, Call-to-actions, Header Navigation
@font-face {
    font-family: "Raleway_Regular";
    src: local(Raleway_Regular), url(../fonts/Raleway-Regular.woff2) format("woff2"), url(../fonts/Raleway-Regular.woff) format("woff");
}

@font-face {
    font-family: "Raleway_Bold";
    src: local(Raleway_Bold), url(../fonts/Raleway-Bold.woff2) format("woff2"), url(../fonts/Raleway-Bold.woff) format("woff");
}

// Body
@font-face {
    font-family: "OpenSans_Bold";
    src: local(OpenSans_Bold), url(../fonts/OpenSans-Bold.woff2) format("woff2"), url(../fonts/OpenSans-Bold.woff) format("woff");
}

@font-face {
    font-family: "OpenSans_Regular";
    src: local(OpenSans_Regular), url(../fonts/OpenSans-Regular.woff2) format("woff2"), url(../fonts/OpenSans-Regular.woff) format("woff");
}

body {
    margin: 0;
    background-color: hsl(218, 28%, 13%);
    font-family: Arial, Helvetica, sans-serif;
    ul {
        margin: 0;
        padding: 0;
        li {
            padding: 0;
            margin: 0;
            list-style: none;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }
    a {
        text-decoration: none;
    }
    button {
        outline: none;
        border: none;
        cursor: pointer;
        box-sizing: border-box;
    }
}

@media (min-width: 720px) {
    .header {
        max-width: 720px;
        margin: auto;
    }
    .main {
        max-width: 720px;
        margin: auto;
    }
    // footer {
    //     max-width: 720px;
    //     margin: auto;
    // }
}

@media (min-width: 920px) {
    .header {
        max-width: 920px;
        margin: auto;
    }
    .main {
        max-width: 920px;
        margin: auto;
    }
    // .footer {
    //     max-width: 920px;
    //     margin: auto;
    // }
}

@media (min-width: 1120px) {
    .header {
        max-width: 1120px;
        margin: auto;
    }
    .main {
        max-width: 1120px;
        margin: auto;
    }
    // .footer {
    //     max-width: 1120px;
    //     margin: auto;
    // }
}

@media (min-width: 1320px) {
    .header {
        max-width: 1320px;
        margin: auto;
    }
    .main {
        max-width: 1320px;
        margin: auto;
    }
    // .footer {
    //     max-width: 1320px;
    //     margin: auto;
    // }
}